{% extends 'base.html.twig' %}

{% block main %}

    {% for message in pagination %}

        <p>
            <a href="{{ path('send_answer', {'id': message.id}) }}">
                {{ message.sender.email }}
            </a>

            {% if not message.reader %}
                <span style="float: right; color: red;">Unread</span>
            {% else %}
                <span style="float: right; color: green;">Readed</span>
            {% endif %}
        </p>

    {% endfor %}

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}