{% extends 'base.html.twig' %}

{% block main %}

    <form name="authenticate" action="{{ path('security_login') }}" method="post">
        <label for="email">Email:
            <input type="text" name="_username" id="email"/>
        </label>
        <br/>
        <label for="password">Password:
            <input type="password" name="_password" id="password"/>
        </label>
        <br/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <br/>
        <input type="submit" value="Login"/>
    </form>

{% endblock %}